.dropdownWrapper {
	position: relative;
	display: block;
}

.trigger {
	cursor: pointer;
	user-select: none;
}

.dropdown {
	position: absolute;
	min-width: 16rem;
	border-radius: var(--border-radius);
	padding: 0.8rem;
	box-shadow: var(--box-shadow);
	z-index: 100;
	overflow: hidden;
	transform-origin: top center;

	// Placement variations
	&.bottom-left {
		top: 100%;
		left: 0;
		margin-top: 0.8rem;
		background-color: var(--secondary-background);
	}

	&.bottom-right {
		top: 100%;
		right: 0;
		margin-top: 0.8rem;
		background-color: var(--secondary-background);
	}

	&.top-left {
		bottom: 100%;
		left: 0;
		margin-bottom: 0.8rem;
		background-color: var(--secondary-background);
	}

	&.top-right {
		bottom: 100%;
		right: 0;
		margin-bottom: 0.8rem;
		background-color: var(--secondary-background);
	}

	a,
	button,
	.item {
		display: block;
		font-family: var(--font-family);
		padding: 0.8rem;
		border-radius: 0.4rem;
		text-decoration: none;
		color: var(--primary-text-color);
		font-size: 1.4rem;
		text-align: left;
		width: 100%;
		border: none;
		cursor: pointer;
		transition: background-color 0.2s;
		background-color: var(--secondary-background);

		&:hover {
			background-color:var(--tertiary-background);
		}
	}
}
