.leftNav {
  width: 18rem;
  height: 100dvh;
  position: sticky;
  top: 0;
  transition: width 0.3s ease-in-out; // â† move transition here
  border-right: 0.1rem solid var(--border-color);

  &.collapse {
    width: 6rem;
  }
}


.leftNavList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  list-style: none;
}

.logo {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 0.8;
  border: 0.2rem solid var(--primary-text);
  text-align: center;
  padding: 0.425rem;
  margin-block: 0.96rem;

  & > span {
    display: block;
  }
}

hr {
  border: none;
  border-top: 0.1rem solid var(--border-color);
  margin-bottom: 0.6rem;
}

.leftNavListGroup {
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 2rem;
  }
}

.toggle_button {
  position: absolute;
  top: calc(100dvh / 2);
  right: -1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  // padding: 1rem;
  background-color: #ffffff;
  // border: none;
  color: #000;
  border-radius: 50%;
  cursor: pointer;

  & > svg {
    width: 2rem;
    height: 2rem;
  }
}

.chevronLeft {
  rotate: 180deg;
  transition: rotate 0.3s ease-in-out;
}

.chevronRight {
  rotate: 0deg;
  transition: rotate 0.3s ease-in-out;
}
