.button {
	padding: 0.8rem 1.4rem;
	font-size: 1.4rem;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
	color: var(--primary-text-color);
	border: 0.2rem solid var(--primary-color);
	border-radius: 0.6rem;
	outline: none;

	&[type='submit'] {
		border-color: var(--secondary-color);
	}

	&[type='submit']:hover {
		background-color: var(--secondary-color);
		color: var(--primary-text-color);
		border-bottom-color: var(--secondary-color);
	}

	&:hover {
		background-color: var(--primary-color);
		color: var(--primary-text-color);
	}

	&:active {
		border-bottom: 0.2rem solid var(--primary-hover-color);
		background-color: var(--primary-hover-color);
		color: var(--primary-text-color);
	}

	&:disabled {
		background-color: #fff !important;
		color: var(--text-primary) !important;
		cursor: not-allowed;
	}

	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	display: inline-block;
	margin-left: 0.6rem;
	height: 2rem;
	width: 2rem;
}
