.button {
  padding: 0.8rem 1.4rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--primary-text);
  background-color: inherit;
  border: 0.2rem solid var(--primary);
  border-bottom: 0.4rem solid var(--primary);
  border-radius: 0.6rem;
  outline: none;

  &:hover {
    background-color: var(--primary);
    color: var(--text);
  }

  &:active {
    border-bottom: 0.2rem solid var(--primary-hover);
    background-color: var(--primary-hover);
    color: var(--text);
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
  margin-left: 0.6rem;
  height: 2rem;
  width: 2rem;
}
