.kanbanSettings {
  margin-bottom: 2.8rem;
  & > h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.tabBtn {
  font-size: 1.6rem;
  color: var(--primary-text);
  width: fit-content;
  gap: 1.6rem;
  padding: 0;

  & > button {
    border: 0.2rem solid var(--primary);
    border-bottom: 0.4rem solid var(--primary);
  }

  & > button:disabled {
    color: var(--primary);
    border-bottom: 0.2rem solid var(--primary);
  }
}
