.tabs {
	width: 100%;
}

.tabList {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1.2rem;
	padding-top: 1.2rem;
}

.tabItem {
	padding: 1.2rem;
	cursor: pointer;
	font-size: 1.4rem;
	border: none;
	width: 100%;
	background-color: inherit;
	text-align: center;
	font-weight: 700;
	
	&[aria-selected="true"] {
		pointer-events: none;
		color: var(--text-color);
		background-color: inherit;
		border-bottom: 0.2rem solid var(--text) !important;
	}
	
	&[aria-selected="false"] {
		background-color: var(--primary-color);
		border-bottom-color: var(--text-color);
	}
}
