li {
	margin: 0.5rem;
	position: relative;

	a {
		display: flex;
		align-items: center;
		font-size: 1.4rem;
		text-decoration: none;
		color: var(--primary-text-color);
		width: 100%;
		padding: 0.5rem 1rem;
		// margin: 0.8rem;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
		border-radius: var(--border-radius);

		&:hover {
			background-color: var(--tertiary-background);
		}

		svg {
			width: 2rem;
			height: 2rem;
			flex-shrink: 0;
			margin: 0.4rem;
		}

		.title {
			margin-left: 1rem;
			white-space: nowrap;
			transition:
				opacity 0.3s ease,
				transform 0.3s ease;
			display: inline-block;
			color: var(--primary-text-color);
		}

		.expanded {
			opacity: 1;
			transform: translateX(0);
			visibility: visible;
		}

		.collapsed {
			opacity: 0;
			transform: translateX(10px);
			visibility: hidden;
		}
	}
}

.tooltip {
	position: absolute;
	left: 6rem;
	top: 1rem;
	background-color: var(--tertiary-background);
	color: var(--primary-text-color);
	padding: 0.4rem;
	font-size: 1.2rem;
	border-radius: var(--border-radius);
	z-index: 99999;
}

.active {
	background-color: var(--tertiary-background);
	color: var(--primary-text-color);
}
