li {
	margin: 0.5rem;
	position: relative;
}

svg {
	width: 2rem;
	height: 2rem;
	flex-shrink: 0;
	font-size: 0;
	margin: 0.4rem;
}

.expanded {
	opacity: 1;
	transform: translateX(0);
	visibility: visible;
}

.collapsed {
	opacity: 0;
	transform: translateX(10px);
	visibility: hidden;
}

.title {
	margin-left: 1rem;
	white-space: nowrap;
	transition:
		opacity 0.3s ease,
		transform 0.3s ease;
	display: inline-block;
	width: 100%;
	text-align: left;
	color: var(--primary-text-color);
}

.btn {
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--primary-text-color);
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: transparent;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
	border-radius: var(--border-radius);
	border: none;
	display: flex;
	align-items: center;
	cursor: pointer;

	&:hover {
		background-color: var(--tertiary-background);
	}
}

.tooltip {
	position: absolute;
	left: 6rem;
	top: 1rem;
	width: max-content;
	background-color: var(--tertiary-background);
	color: var(--primary-text-color);
	padding: 0.4rem;
	font-size: 1.2rem;
	border-radius: var(--border-radius);
	z-index: 99999;
}

.active {
	background-color: var(--tertiary-background);
	color: var(--primary-text-color);
}

.titleContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.dropdown {
	color: var(--primary-color);
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 0;

	& > svg {
		width: 2rem;
		height: 2rem;
		margin: 0;
		transition:
			color 0.3s ease-in-out,
			rotate 0.3s ease-in-out;
	}

	&:hover {
		color: var(--primary-hover);
	}

	&:active {
		color: var(--primary-outline);
	}
}

.titleWrapper {
	width: 8rem;
	white-space: nowrap;
	overflow: hidden;
}

.title_p {
	display: inline-block;
	padding-inline: 0.4rem;
	animation: move 10s linear infinite;
}

@keyframes move {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-60%, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
