.boardHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.boardHeaderContent {
	& > h1 {
		font-size: 3.2rem;
		font-weight: 800;
		color: var(--primary-text-color);
		margin-bottom: 0.6rem;
	}

	& > p {
		font-size: 1.4rem;
		color: var(--secondary-text-color);
		font-weight: 500;
	}
}

.boardContent {
	background-color: var(--secondary-background);
	padding: 1.4rem 0;
	border-radius: var(--border-radius);
	height: calc(100dvh - 20rem);

	overflow-y: scroll;
}

.boardHeaderActions {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.dropTarget {
	background-color: rgb(140, 216, 150);
	border-radius: var(--border-radius);
	transition: all 0.3s ease;
	min-height: calc(100vh - 24rem);
	height: 100%;
}
