.column {
  & > h2 {
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--primary-text);
    margin-bottom: 2rem;
    text-transform: uppercase;
    width: fit-content;

    background-color: #e1e1e1;
    padding: 0.4rem 1.2rem;
    border-radius: 1.2rem;
  }
}

.cards > *:not(:last-child) {
  margin-bottom: 2rem;
}
