.topNav {
	top: 0;
	position: sticky;
	z-index: 100;
	background-color: var(--background-color, #fff);
	height: 6.6rem;
	border-bottom: 0.1rem solid var(--border-color);
}

.topNavContent {
	width: calc(100dvw * 0.85);
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-block: 1.4rem;
	margin: 0 auto;

	& > p {
		font-size: 1.8rem;
		font-weight: 600;
		color: var(--primary-text-color);
	}
}

.topNavActions {
	display: flex;
	gap: 2.4rem;
	align-items: center;
	height: 4rem;
}

.dropdownBtn {
	padding: 0.6rem;
}

.themeBtn {
	background: transparent;
	color: var(--primary-text-color);
	border-color: var(--border-color);

	& > svg {
		width: 2rem;
		height: 2rem;
	}

	&:active,
	&:hover {
		background: transparent;
		color: var(--primary-text-color);
		border-color: var(--border-color);
	}

	&:active {
		outline: 0.1rem solid var(--border-color);
	}
}

.themeBtnDropdown {
	color: var(--primary-text-color);
	border-color: var(--border-color);

	display: flex;
	align-items: center;
	gap: 0.8rem;

	& > svg {
		width: 2rem;
		height: 2rem;
	}
}
