.calendar {
    box-shadow: var(--box-shadow);
    // padding: 1.2rem;
    // border: 0.1rem solid var(--border-color);
    border-radius: var(--border-radius);
    height: calc(100dvh - 11.8rem);

    overflow-y: scroll;
}

.calendarHeader {
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    position: sticky;
    top: 0;
    background-color: var(--secondary-background);
}

.calendarTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.calendarButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    & > button > svg {
        width: 2rem;
        height: 2rem;
    }
}

.calendarTitle {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-text-color);
    
    text-align: center;
}

.weekDays {
    display: flex;
    justify-content: space-between;
    
    text-align: center;
    
    background-color: var(--secondary-background);
    border-top: 0.1rem solid var(--border-color);
    border-bottom: 0.1rem solid var(--border-color);

    position: sticky;
    top: 6.5rem;

}

.weekRow {
    display: flex;
    justify-content: space-between;
    height: calc((100dvh - 21.5rem) / 5);

    &:not(:last-child) {
        border-bottom: 0.1rem solid var(--border-color);
    }
}

.weekDay {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-text-color);
    width: 100%;
    padding: 0.8rem;
    
    &:not(:last-child) {
        border-right: 0.1rem solid var(--border-color);
    }
}

.emptyDay {
    color: var(--secondary-text-color);
    background-color: var(--secondary-background);
}

.emptyDay, .day {
    padding: 0.8rem;
    width: 100%;
    font-weight: 700;
    &:not(:last-child) {
        border-right: 0.1rem solid var(--border-color);
    }
}

.day {
    & > p {
        padding: 0.4rem;
        font-size: 1.2rem;
        width: fit-content;
        text-align: right;
    }
}

.today {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    color: var(--text-color) !important;
}