.boardSettings {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2.4rem;
	padding-top: 2.4rem;
}

.form {
	box-shadow: var(--box-shadow);
	padding: 1.2rem;
	border-radius: var(--border-radius);

	.updateBoard {
		& > p {
			font-size: 2rem;
			font-weight: 700;
		}
		height: 3rem;
		margin-bottom: 1.2rem;

		display: flex;
		gap: 1.2rem;
		align-items: center;
	}

	& > h3 {
		font-size: 2rem;
		margin-bottom: 1.8rem !important;
		font-weight: 700;
	}

	& > :not(:last-child) {
		margin-bottom: 1.2rem;
	}
}

.deleteBoard {
	box-shadow: var(--box-shadow);
	padding: 2rem;
	border-radius: var(--border-radius);
	
}

.deleteBtn {
	border-color: var(--danger-color) !important;
	background-color: var(--danger-color) !important;

	&:hover {
		background-color: var(--danger-hover-color) !important;
		color: var(--text-color);
	}

	&:active {
		background-color: var(--danger-hover-color) !important;
		color: var(--text-color);
		border-color: var(--danger-color) !important;
		outline: 0.1rem solid var(--danger-outline-color) !important;
	}

	&:disabled {
		background-color: var(--background-color) !important;
		color: inherit !important;
		cursor: not-allowed;
	}
}

.deleteBoardText {
	display: flex;
	gap: 1.2rem;
	align-items: center;
	white-space: nowrap;
	height: 2.6rem;

	font-size: 2rem;
	line-height: 1.5;
	font-weight: 700;
	margin-bottom: 2rem;
}

.dropdown {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	height: 4rem;
}

.updateSubmitBtn {
	border-color: var(--tertiary-color) !important;
	background-color: var(--tertiary-color) !important;

	&:hover {
		background-color: var(--tertiary-hover-color) !important;
		color: var(--text-color);
	}

	&:active {
		background-color: var(--tertiary-hover-color) !important;
		color: var(--text-color);
		border-color: var(--tertiary-color) !important;
		outline: 0.1rem solid var(--tertiary-outline-color) !important;
	}

	&:disabled {
		background-color: var(--background-color) !important;
		color: inherit !important;
		cursor: not-allowed;
	}
}

.deleteAlert {
	display: flex;
	gap: 1.2rem;
	align-items: center;
	margin-bottom: 2rem;
	font-size: 1.4rem;
	color: var(--warning-color);
	& > svg {
		width: 2rem;
		height: 2rem;
	}
}
