.columnSettings {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.form {
	padding: 1.2rem;
	box-shadow: var(--box-shadow);
	border-radius: 0.8rem;
}

.formBody {
	& > * {
		margin-bottom: 1.2rem;
	}
}

.formHeader {
	display: flex;
	align-items: center;
	margin-bottom: 1.2rem;

	height: 4rem;
	gap: 1.2rem;
	font-size: 2rem;
}

.updateSubmitBtn {
	border-color: var(--tertiary) !important;

	&:hover {
		background-color: var(--tertiary) !important;
		color: var(--text-color);
	}

	&:disabled {
		background-color: inherit !important;
		color: inherit !important;
		cursor: not-allowed;
	}
}

.deleteCol {
	// width: 100%;
	width: fit-content;
	grid-column: 1 / -1;

	box-shadow: var(--box-shadow);
	padding: 1.2rem;
	border-radius: 0.8rem;
}

.deleteColBody {
	& > h3 {
		font-size: 2rem;
	}
	display: flex;
	align-items: center;
	gap: 1.2rem;

	margin-bottom: 1.2rem;
}

.deleteBtn {
	&:hover {
		background-color: #ff6b6b;
		border-color: #ff6b6b;
	}
	border-color: #ff6b6b;
}

.deleteAlert {
	display: flex;
	gap: 1.2rem;
	align-items: center;
	margin-bottom: 2rem;
	font-size: 1.4rem;
	color: #ff6b6b;
	& > svg {
		width: 2rem;
		height: 2rem;
	}
}
