@font-face {
	font-family: 'Inter';
	src: url(font/Inter.ttf) format('truetype');
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	font-family: 'Inter', sans-serif;
	font-weight: 500;

	/* Generic terms */
	--primary: #4186f4;
	--secondary: #12b066;
	--tertiary: #9747ff;
	--danger: #ff6b6b;
	--warning: #ffb74d;

	--text: #ffffff;
	--primary-text: #1d2939;
	--secondary-text: #1d293960;
	--tertiary-text: #1d2939;

	--primary-hover: #2e5eab;
	--secondary-hover: #0d7b47;
	--tertiary-hover: #6a32b3;
	--danger-hover: #b34b4b;
	--warning-hover: #b38036;
	
	--background: #ffffff;
	
	--border: #1018284d;
	
	--primary-outline :#7aaaf7;
	--secondary-outline: #59c894;
	--tertiary-outline: #b67eff;
	--danger-outline: #ff9797;
	--warning-outline: #ffcd82;

	--box-shadow: 0rem 0.05rem 0.2rem 0rem #1018284d;
	
	/* Colors */
	--primary-color: var(--primary);
	--secondary-color: var(--secondary);
	--tertiary-color: var(--tertiary);
	--danger-color: var(--danger);
	--warning-color: var(--warning);


	--text-color: var(--text);
	--primary-text-color: var(--primary-text);
	--secondary-text-color: var(--secondary-text);
	--tertiary-text-color: var(--tertiary-text);

	--primary-hover-color: var(--primary-hover);
	--secondary-hover-color: var(--secondary-hover);
	--tertiary-hover-color: var(--tertiary-hover);
	--danger-hover-color: var(--danger-hover);
	--warning-hover-color: var(--warning-hover);

	--primary-outline-color: var(--primary-outline);
	--secondary-outline-color: var(--secondary-outline);
	--tertiary-outline-color: var(--tertiary-outline);
	--danger-outline-color: var(--danger-outline);
	--warning-outline-color: var(--warning-outline);

	--background-color: var(--background);

	--border-color: var(--border);

	--box-shadow-color: var(--box-shadow);
}

body {
	overflow-x: hidden;
}

.box {
	padding: 1.6rem;
	border-radius: 0.8rem;
	box-shadow: var(--box-shadow);
	background-color: var(--background);
	color: var(--primary-text);
	font-size: 1.4rem;
	width: fit-content;
}

kbd {
	background-color: #eee;
	border-radius: 0.3rem;
	border: 0.1rem solid #b4b4b4;
	box-shadow:
		0 0.1rem 0.1rem rgba(0, 0, 0, 0.2),
		0 0.2rem 0 0 rgba(255, 255, 255, 0.7) inset;
	color: #333;
	display: inline-block;
	font-size: 0.85em;
	font-weight: 700;
	line-height: 1;
	padding: 0.2rem 0.4rem;
	white-space: nowrap;
}

::-webkit-scrollbar {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 4rem;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 1rem;
}

::-webkit-scrollbar-track {
	background-color: #f0f0f0;
}

::-webkit-scrollbar-corner {
	background-color: #f0f0f0;
}