@font-face {
	font-family: 'Inter';
	src: url(font/Inter.ttf) format('truetype');
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	font-weight: 500;
	--font-family: 'Inter', sans-serif;

	--primary: #4186f4;
	--secondary: #12b066;
	--tertiary: #9747ff;
	--danger: #ff6b6b;
	--warning: #ffb74d;

	--card-background: #ffffff;

	--text: #ffffff;
	--primary-text: #1d2939;
	--secondary-text: #1d293960;
	--tertiary-text: #1d2939;

	--primary-hover: #2e5eab;
	--secondary-hover: #0d7b47;
	--tertiary-hover: #6a32b3;
	--danger-hover: #b34b4b;
	--warning-hover: #b38036;

	--background: #ffffff;
	--secondary-background: #ffffff80;
	--tertiary-background: #ffffff60;

	--border: #1018284d;

	--border-radius: 0.8rem;

	--primary-outline: #7aaaf7;
	--secondary-outline: #59c894;
	--tertiary-outline: #b67eff;
	--danger-outline: #ff9797;
	--warning-outline: #ffcd82;

	--box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);

	/* Generic terms */
	--primary-color: var(--primary);
	--secondary-color: var(--secondary);
	--tertiary-color: var(--tertiary);
	--danger-color: var(--danger);
	--warning-color: var(--warning);

	--text-color: var(--text);
	--primary-text-color: var(--primary-text);
	--secondary-text-color: var(--secondary-text);
	--tertiary-text-color: var(--tertiary-text);

	--primary-hover-color: var(--primary-hover);
	--secondary-hover-color: var(--secondary-hover);
	--tertiary-hover-color: var(--tertiary-hover);
	--danger-hover-color: var(--danger-hover);
	--warning-hover-color: var(--warning-hover);

	--primary-outline-color: var(--primary-outline);
	--secondary-outline-color: var(--secondary-outline);
	--tertiary-outline-color: var(--tertiary-outline);
	--danger-outline-color: var(--danger-outline);
	--warning-outline-color: var(--warning-outline);

	--background-color: var(--background);

	--card-background-color: var(--card-background);

	--border-color: var(--border);

	--box-shadow-color: var(--box-shadow);

	font-family: var(--font-family);
}

/* Fix selectors to target html directly without :root */
html[data-theme='light'] {
	--background: #ffffff;
	--secondary-background: #f1f1f1;
	--tertiary-background: #cccccc;

	--card-background: #ffffff;

	--primary-text: #000000;
	--secondary-text: #1a1a1a80;
	--tertiary-text: #000000;

	--box-shadow: 0px 0px 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
	--border-color: #0000003a;
}

html[data-theme='dark'] {
	--background: #000000;
	--secondary-background: #1a1a1a;
	--tertiary-background: #333333;

	--card-background: #1a1a1a;

	--primary-text: #ffffff;
	--secondary-text: #ffffff80;
	--tertiary-text: #ffffff;

	--box-shadow: 0px 0px 0.1rem 0.1rem rgba(255, 255, 255, 0.3);
	--border-color: #ffffff3a;
}

body {
	overflow-x: hidden;
}

.box {
	padding: 1.6rem;
	border-radius: 0.8rem;
	box-shadow: var(--box-shadow);
	background-color: var(--background);
	color: var(--primary-text);
	font-size: 1.4rem;
	width: fit-content;
	/* border: 0.2rem solid var(--border-color); */
}

kbd {
	background-color: #eee;
	border-radius: 0.3rem;
	border: 0.1rem solid #b4b4b4;
	box-shadow:
		0 0.1rem 0.1rem rgba(0, 0, 0, 0.2),
		0 0.2rem 0 0 rgba(255, 255, 255, 0.7) inset;
	color: #333;
	display: inline-block;
	font-size: 0.85em;
	font-weight: 700;
	line-height: 1;
	padding: 0.2rem 0.4rem;
	white-space: nowrap;
}

::-webkit-scrollbar {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 4rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--tertiary-background);
	border-radius: 1rem;
}

::-webkit-scrollbar-track {
	background-color: var(--background-color);
}

::-webkit-scrollbar-corner {
	background-color: var(--background-color);
}
