.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100dvh;
    width: 6rem;
    padding: 0.6rem;
    border-right: 0.1rem solid var(--border-color) !important;
    background-color: var(--background);
}

.dropdown,
.topMenu,
.bottomMenu {
    list-style: none;
}

.navItem {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;

    position: relative;
}

.expanded {
    width: 24rem;

    .title {
        // add ellipsis to text
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.visible {
    flex-direction: column;
}

.btn {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-text-color);
    width: 100%;
    max-width: 22rem;
    padding: 0.6rem 1.2rem;
    background-color: transparent;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    border-radius: 0.4rem;
    border: none;

    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: var(--tertiary-background);
    }

    & > svg {
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
    }
}

.iconBtn {
    width: 2rem;
    height: 2rem;
}

.title {
    margin-left: 1.2rem;
    font-weight: 400;
    width: 12rem;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.link {
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.checkbox {
    font-size: 0;
    color: transparent;
    svg {
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
    }
}

.active {
    color: var(--primary-text-color);
    border: 0.15rem solid var(--border-color);
    border-radius: 0.4rem;
    .title {
        font-weight: 600 !important;
    }

    .checkbox {
        color: var(--secondary-color);
    }
}

.link {
    padding: 0.4rem 0.8rem;
}

.tooltip {
    position: absolute;
    left: 5.8rem;
    top: 0.6rem;
    width: max-content;
    background-color: var(--tertiary-background);
    color: var(--primary-text-color);
    padding: 0.4rem;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
    z-index: 99999;
}

.dropdownContainer {
    margin-top: 0.8rem;
    font-size: 1.4rem;
    width: 100%;
    padding: 0.6rem 1.2rem;
    background-color: var(--secondary-background);
}

.dropdownItem {
    &:not(:last-child) {
        margin-bottom: 0.6rem;
    }
}
