.link {
	display: flex;
	align-items: center;
	width: fit-content;
	max-width: 100%;

	& > svg {
		width: 1.4rem;
		margin-right: 0.8rem;
		color: #acacac;
		flex-shrink: 0;
	}

	& > a {
		color: var(--primary-color);
		font-size: 1.4rem;
		text-decoration: none;
		font-weight: 600;
		transition: color 0.2s ease-in-out;

		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: inherit;

		&:hover {
			color: var(--primary-color-hover);
		}
	}
}
